@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
    display: flex;
    margin-top: 80px;
}

.left {
    margin-left: 30px;
}

.left>p {
    color: white;
    font-weight: 900;
    text-align: justify;
}

.right>img {
    border-radius: 100px;
    width: 300px;
    height: 300px;
}

/*Responsive*/
@media screen and (max-width: 830px) {
    .res {
        display: block
    }

    .right>img {
        width: 250px;
        height: 250px;
        margin-left: 35px;
        border-radius: 20px;
    }

    .left {
        margin-left: 0px;
    }


}

@media screen and (max-width: 375px) {
    .res {
        display: block
    }

    .right>img {
        width: 250px;
        height: 250px;
        margin-left: 10px;
        border-radius: 20px;
    }

    .left {
        margin-left: 0px;
    }
}