.contact {
    max-width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.062);
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    padding-bottom:50px;

}

.form-control {
    background-color: rgba(255, 255, 255, 0.080);
}

.color-f {
    color: rgb(255, 253, 253);
}