@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container{
    display: flex;
    margin-top: 80px;
}
.left{
    margin-right: 30px;
}
.left>p{
    font-weight: 900;
}

.right>img{
    border-radius: 100px;
}
/*Responsive*/
@media screen and (max-width: 830px){
    .res{
        display: block
    }
}

@media screen and (max-width: 375px){
    .res{
        display: block
    }
}
