.contact{
    max-width: 70%;
    margin: auto;
    background-color: rgba(103, 113, 167, 0.425);
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}
.form-control{
    background-color: rgba(127, 255, 212, 0.541);
}
.color-f{
    color: black;
}