.image {
    background-color: rgba(251, 251, 251, 0.2);
}

.textFooter {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    height: 45px;
}

.txtc {
    background-color: #2a234e71;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}
.container-1{
    display: block;
}
.container-2{
    display: flex;
    justify-content: center;
}
.container-2>a>img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 40px;
}


@media screen and (max-width: 830px) {

    .container-2>a>img{

        margin: 5px;
        border-radius: 40px;
    }
}

@media screen and (max-width: 375px) {
    .container-2>a>img{
        margin: 5px;
        border-radius: 40px;
    }
}