.image {
    background-color: rgba(251, 251, 251, 0.2);
}

.textFooter {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    height: 45px;
}

.txtc {
    background-color: #2a234e71;
    position: sticky;
    bottom: 0;
    z-index: 1000;
}


@media screen and (max-width: 830px) {

    .txtc {
        position: relative;
    }
}

@media screen and (max-width: 375px) {
    .txtc {
        position: relative;
    }
}