.container-h{
    max-width: 600px;
    display: block;
    padding-bottom:6rem ;
    
}
.container-news{
    max-width: 100%;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(240, 255, 255, 0.123);
}
h2{
    color: white;
}
.left-c{
    max-width: 200px;
    padding: 1rem;
}
.left-c>img{
    width: 150px;
    height: 100px;
}
.right-c{
    max-width: 400px;
    padding: 1rem;
}
.right-c>p{
    color: white;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
.news, .news2{
    max-width: 600px;
    margin: auto;
}
.news, .news2 p{
    color: white;
    text-align:left;
}
.news2 >h3{
    color: white;
    font-style: italic;
}
.news>h3{
    color: white;
    font-style: italic;
}
.news p{
    text-align: justify;
}
.dom{
    padding: 10px;
    width: 450px;
    height: 350px;
}
.news img{
    padding: 10px;
    width: 450px;
    height: 350px;
}
ul>li{
    list-style: none;
}

@media screen and (max-width: 830px){
    .news img{
        padding: 7px;
        width: 320px;
        height: 250px;
    }
    h2{
        font-size: medium;
    }
    .container-news{
        display: block;
    }
    
}

@media screen and (max-width: 375px){
    .news img{
        padding: 5px;
        width: 250px;
        height: 180px;
    }
    h2{
        font-size: medium;
    }
    .container-news{
        display: block;
    }
}